#root {
  max-width: 75%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-partida {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}
