.tablero {
    max-width: 1280px;
    margin: 2rem;
    padding: 0.6rem;
    text-align: center;
    background-color: rgba(151, 138, 138, 0.63);
    border-radius: 3.5%;
}

.tile {
    height: 50px;
    width: 50px;
    margin: 1px;
    border: 2px solid transparent; /* Borde transparente por defecto */
    transition: border 0.3s ease; /* Transición suave para el cambio de borde */
}

.tile.selected {
    border: 3px solid #fffffff1; /* Borde color naranja para las fichas seleccionadas */
    border-radius: 15%;
}

.brighter-tile {
    filter: saturate(1.85);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.65);
    transition: box-shadow 0.1s ease;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.cardset {
    display: flex;
    align-items: center;
}

.card {
    background-color: rgb(221, 170, 102);
}
 
.img-blocked-color{
  height:100px;
  width: 100px;
  margin: 1px;
  border: 2px;
}
