.card-switcher{
    width: 90px;
    height: 90px;
    border-radius: 15%;
}

.img-content{
    width: 90px;
    height: 90px;
}

.img-content-mov {
    width: 100px; 
    height: auto;
}

.bg-cardset {
    background-color: silver;
}

.cardset-vertical {
    margin: 10% 35%;
}

.cardset-horizontal {
    
}

.movement-card-switcher.selected {
    border: 3px solid red;
    border-radius: 9%;
}