.table-fixed {
    width: 100%;
    margin-top: 2px;
}

.table-fixed tbody tr.selected td {
    background-color: gray;
}

.table-fixed thead,
.table-fixed tbody {
    display: block;
    text-align: center;
}
.table-fixed thead th {
    border-right: 1px solid gray;
}

.table-fixed thead th:last-child {
    border-right: none;
}

.table-fixed tbody {
    height: auto;
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead tr {
    display: flex;
    border: 1px solid gray;
}

.table-fixed tbody tr {
    display: flex;
}

.table-fixed th,
.table-fixed td {
    flex: 1;
}


.table-fixed td.match-name {
    text-align: left;
    white-space: nowrap;
    overflow: scroll;
}

